#QR {
  border-radius: 12px;
  display: block;
  margin-left:10px;
  margin-top:10px;
}

/* I used this earlier (files still included in) but I decided to get them from google's service instead

@font-face{
  font-family: Outfit;
  src: url(./Fonts/Outfit-Bold.ttf);
  font-weight:bold;
} 

@font-face{
  font-family: Outfit;
  src: url(./Fonts/Outfit-Regular.ttf);
  font-weight:normal;
}

*/

.QRCode {
  width: 270px;
  height: 420px;
  border-radius: 12px;
  background-color:rgb(255, 255, 255);
  display: inline-block;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-135px;
  margin-top:-200px;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(217, 235, 238);
}

h1 {
 color: rgb(34, 34, 34);
 font-size: 18px;
 font-weight: bold;
 text-align: center;
 font-family: 'Outfit', sans-serif;
 font-weight: 700;
 width:240px;
 height:50px;
 left:50%;
 margin-left:15px;
 margin-top:5px;
}

p {
  color: rgb(124, 124, 124);
  font-size: 13px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  width:220px;
  height:50px;
  left:50%;
  margin-left:25px;
  margin-top:-5px;
}